/**
 * Created by ankushthapa on 02/08/16.
 */

.page-bg {
  background-color: rgb(51,51,51);
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(51, 51, 51, 1);
  z-index:9999;
  color:white;
}

.main-div {
  /*font-family: customFont1;*/
  color: grey;
  width: 900px;
  height: 600px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader {
  margin-top: 10px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 2s linear infinite;
}

.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.4), rgba(0,0,0,.4) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  }

.package-div {
  float:left;
  width: 120px;
  height: 150px;
  background-color: maroon;
  margin: 25px;
  border-radius: 10px;
  text-align: center;
}

.bonus-div {
  text-align: center;
  background-color: yellow;
  top: 0;
  margin-top: -36px;
  height: 60px;
  border-radius: 0px 0px 5px 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  margin: 0px;
}

select {
   /*margin: 50px;*/
    border: 1px solid #111;
   background: transparent;
   width: 180px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url('../assets/images/dropdown.png') 96% / 7% no-repeat #eee;
}

.penultimate-div {
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
  margin: 30px;
  height: 90%;
  z-index: 9999;
  overflow: hidden;
}

.amount-textbox {
  font-size: 20px;
  color: white;
  margin-top: -12px;
  border-bottom: 1px solid red;
}

.continue-button {
  width: 180px;
  float: left;
  background-color: green;
  margin-top: 36px;
  height: 34px;
  color: white;
  text-align: center;
  line-height: 34px;
}

.innermost-div {
  width: 100%;
  background-color: lightgrey;
  height: 30px;
  padding: 10px;
}

.make-payment-button {
  position: initial;
  margin-top: 350px;
  float: right;
  margin-right: 20px;
  width: 180px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 34px; 
}
