<div class="overlay">
      <div class="page-bg">
        <div class="main-div">
          <div ng-repeat="package in allPackages | filter: active=true" ng-if="package.id != -1" class="package-div dotted">
            <div ng-if="package.bonus" class="bonus-div">
              <div style="font-size: 20px; padding-top: 10px; color: maroon;">Bonus</div>
              <div style="color: maroon;">₹ {{package.bonus}}</div>
            </div>
            <div ng-if="package.bonus" style="color: white; margin-top: 50px; font-size: 35px;">₹ {{package.amount}}</div>
            <div ng-if="!package.bonus" style="color: white; margin-top: 75px; font-size: 35px;">₹ {{package.amount}}</div>
            <div ng-click="selectPackage(package.id)">
              <input type="radio" ng-checked="selectedPackage==package.id" ng-value="package.id" name="packageValue" style="margin-top: 30px">
            </div>
          </div>
          <div class="package-div dotted">
              <div class="amount-textbox">Enter Amount</div>
              <div style="margin-top: 70px;"><input type="number" id="newAmountValue" style="border-radius: 5px; height: 25px;"></div>
              <div ng-click="selectPackage('-1')">
                <input type="radio" ng-checked="selectedPackage==-1" ng-value="package.id" name="packageValue" style="margin-top: 30px">
              </div>
          </div>
          <div style="float: left; margin-top: 175px; width: 440px;">
            <div style="width: 50%; float: left;">
              Promo Code (optional)<br /><br />
              <select>
                <option ng-repeat="code in promoCodes">{{code}}</option>
              </select>
            </div>
            <div ng-click="addPackage(selectedPackage);" class="continue-button">
              CONTINUE&nbsp;&nbsp;&gt;&gt;
            </div>
          </div>
        </div>
    </div>
</div>
