<div class="overlay">
      <div class="page-bg">
        <div class="main-div" style='background-color: whitesmoke;'>

          <div class="penultimate-div">
            <div class="innermost-div">
              <div style="width: 25%; float: left;">

                <!-- payment page header  -->
                <a href="#/packages-listing/{{selectedPackage}}/">
                  <div style="width: 20%;float: left;">
                    <img style="width: 30px; height: auto;" src="assets/images/tick_green.png"></img>
                  </div>
                  <span style="line-height: 30px;">1. Enter Amount</span>
                </a>
              </div>

              <div style="width: 30%; float: left;">
                <div style="width: 20%;float: left;">
                  <img style="width: 30px; height: auto;" src="assets/images/card.png"></img>
                </div>
                <span style="line-height: 30px; color: maroon;">2. Choose Payment Method</span>
              </div>

              <div style="width: 25%; float: right;">
                <span ng-if="selectedPackage != -1" style="line-height: 30px; color: green; font-size: 25px; text-align: right;">Amount: ₹ {{allPackages[selectedPackage-1].amount}}</span>
                <span ng-if="selectedPackage == -1" style="line-height: 30px; color: green; font-size: 25px; text-align: right;">Amount: ₹ {{allPackages[allPackages.length-1].amount}}</span>
              </div>
              <!-- payment page header ends -->

            </div>
            <table style="width: 25%; float: left;">
              <tr ng-repeat="pm in paymentMethods" ng-mouseover="hoverAction(pm.id);" ng-mouseleave="hoverAction(pm.id);" ng-click="handlePayment(pm.id)" id="{{pm.id}}" style="height: 50px; width: 50px; text-align: center; background-color:lightgrey; color: grey;">
                <td>{{pm.name}}</td>
              </tr>
            </table>
            <div style="width: 75%; float: right; margin-top: 2px;">

              <select ng-change="selectAnOption();" ng-model="selectedOption" ng-if="paymentOptions.length > 0" style="margin: 25px; width: 200px;">
                <option ng-repeat="paymentOption in paymentOptions">{{paymentOption}}</option>
              </select>

            </div>
            <a href="#/payment-success/">
              <!-- payment button will appear only if a valid payment option is selected, or otherwise we can show it disabled untill -->
              <div ng-if="selectedOption" class="make-payment-button" disabled>
                Make Payment
              </div>
            </a>
          </div>
        </div>
    </div>
</div>
