<div class="overlay">
      <div class="page-bg">
        <div class="main-div" style='background-color: whitesmoke;'>

          <div class="penultimate-div">
            <div style="width: 100%; background-color: lightgrey; height: 30px; padding: 10px;">
              <div style="width: 25%; float: left;">
                  <div style="width: 20%;float: left;">
                    <img style="width: 30px; height: auto;" src="assets/images/tick_green.png"></img>
                  </div>
                  <span style="line-height: 30px;">1. Enter Amount</span>
              </div>

              <div style="width: 30%; float: left;">
                <div style="width: 20%;float: left;">
                  <img style="width: 30px; height: auto;" src="assets/images/tick_green.png"></img>
                </div>
                <span style="line-height: 30px;">2. Choose Payment Method</span>
              </div>
            </div>

            <div style="text-align: center; color: green; margin-top: 100px; font-size: 30px;">
              Your payment has been successful.
            </div>

            <a style="text-decoration: none;" href="#/packages-listing/{{selectedPackage}}/">
              <div style="margin-top: 35px; margin-left: 40%; width: 180px; background-color: green;color: white; text-align: center; line-height: 34px; ">
                Add More Cash &gt;&gt;
              </div>
            </a>

          </div>
        </div>
    </div>
</div>
